body {
  background-color: rgb(25,25,25);
}

*{
  font-family: 'Inter', sans-serif;
}
.intro {
  height: 100vh;
}

.intro video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 70px;
  color: black;
}
#centerHome {
  width: 100%;
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 16px;
}

@media (min-width: 768px) {
  .navbar-brand {
    margin-right: 50px;
    margin-left: 100px;
  }
}

.nav-item {
  font-size: 16px;
}

#CenterHeading {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%,50%);
}

@media (min-width: 768px) {
  #CenterHeading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
  }
}

#maintext {
  position: relative;
  left: 50%;
  top: 30%;
  transform: translate(-50%,50%);
  color: rgb(255,255,255);
}

@media (min-width: 768px) {
  #maintext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,50%);
    color: rgb(255,255,255);
  }
}

.navbar.navbar-light.navbar-expand-md {
  position: fixed;
  width: 100%;
  height: 60px;
}

.navbar-light .navbar-toggler {
  margin-right: auto;
  float: right;
}

#down-btn {
  color: white;
  position: relative;
  outline: none;
  border: none;
  background: none;
  scroll-behavior: smooth;
}

#down-btn:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#homeBottom {
  text-align: center;
  position: absolute;
  border: none;
  outline: none;
  color: white;
  left: calc(50% - 16px);
  top: calc(100% - 6vh);
}


#aboutme {
  height: 75vh;
  width: 100%;
  position: relative;
}

#About-Me {
  text-align: center;
  color: rgb(255,255,255);
  position: relative;
  margin-top: auto;
  padding-top: 90px;
}

@media (max-width: 576px) {
  #About-Me {
    text-align: center;
    color: rgb(255,255,255);
    margin-top: auto;
    padding-top: 100px;
    background-color: #191919;
  }
}

img.wrap {
  border-radius: 50%;
  height: 200px;
  position: relative;
  top: 50%;
  transform: translateY(2%);
  float: left;
}

@media (max-width: 576px) {
  img.wrap {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    height: 120px;
  }
}

#introduction {
  color: white;
  font-size: 16px;
  position: relative;
}

@media (min-width: 992px) {
  #items {
    text-align: center;
    margin-left: 150px;
    width: 500px;
    position: relative;
  }
}

#items {
  text-align: left;
  position: relative;
  padding-top: 15px;
}

.footer-basic {
  display: block;
  margin-top: auto;
}

.madeby {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}

.navbar.scrolled {
  color: blue !important;
  background-color: #999999 !important;
  transition: background-color 1000ms linear;
}

.container-fluid.scrolled {
  background-color: #FFF !important;
  transition: background-color 500ms linear;
}
